body{
    display: flexbox;
    flex-direction: column;
    background-color: black;
    
}


.outputs{
    display: relative;

    color: white;
    text-align: center;
    position: relative;
    
   
    text-shadow: white;
    box-shadow:blanchedalmond;
}

