body{
    
    color: white;
    text-align: center;

}

.heading{
    font-size: xx-large;
}
#all_elements{
    
    width: 100%;
    display: flex;
   
    block-size: 100%;
    
}


#search_form{
    
    padding-left: 10%;
    
    vertical-align: middle;
    margin-top: 10%;
    
    

}
#search_heading{
    padding-bottom: 5%;
    font-size: x-large;
    
}

#upload_form{
    padding-left: 30%;
    text-align: center;
    

}
.form_heading{
    font-size: x-large;
}
.footer{
    position: relative;
}