body{
    display: grid;
    grid-template-rows: 20% 50% 20%;
}

.heading{
    color: white;
    text-align: center;
    position: relative;
    top: 40%;
    font-size: xx-large;
    text-shadow: white;
    box-shadow:blanchedalmond;
}

.upload_form{
    position: relative;
    top: 10%;
    color: white;
    text-align: center;
    font-size:x-large;
    box-shadow:blanchedalmond;
}

.footer{
    color: white;
    text-align: center;
    position: relative;
    top: 70%;
    box-shadow:blanchedalmond;
}