<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>




{% load static %}
<link rel="stylesheet" href="{% static 'results.css' %}" type="text/css">
<body>

    <div id="all_elements">
        <div id="inputs">
            <br>
            <br>
            <br>
            <br>
            <h2>
            This is the field for inputs
            </h2>
            <br>
            <br>
            <audio controls>
                <source src="{{ inaudio.audio_1.url}}">
            </audio>
            <audio controls>
                <source src="{{ inaudio.audio_2.url}}">
            </audio>
            <audio controls>
                <source src="{{ inaudio.audio_3.url}}">
            </audio>
            
        </div>
        <div id="outputs">
            <div id="out_heading">
                <br>
                <br>
                <br>
                Following is the analysed data <br>
                Please verify and submit your review<br>
                <br>
                <br>
            </div>
            <form action = "datasubmit">
                <div id="form">
                    <div id="first_row">
                        <img src="{{ audio.visual_1.url }}" style="width:200px;height:100px;"><br>
                        <audio controls>
                            <source src="{{ audio.search_1.url}}">
                        </audio>
                        
                        <br>
                        <input type="radio" id="match found" name="aud_1match" value="match">
                        <label for="match found">Match Found</label><br>
                        <input type="radio" id="No Match" name="aud_1match"value="no match">
                        <label for="No Match">No Match</label><br>
                        <br>
    
                        <img src="{{ audio.visual_1.url }}" style="width:200px;height:100px;"><br>
                        <audio controls>
                            <source src="{{ audio.search_2.url}}">
                        </audio>
                        <br>
                        <input type="radio" id="match found" name="aud_2match" value="match">
                        <label for="match found">Match Found</label><br>
                        <input type="radio" id="No Match" name="aud_2match"value="no match">
                        <label for="No Match">No Match</label><br>
                        <br>
                        
                        <audio controls>
                            <source src="{{ audio.search_3.url}}">
                        </audio>
                        <br>
                        <input type="radio" id="match found" name="aud_3match" value="match">
                        <label for="match found">Match Found</label><br>
                        <input type="radio" id="No Match" name="aud_3match"value="no match">
                        <label for="No Match">No Match</label><br>
                        <br>
                    </div>
                    <div id="second_row">
                        <img src="{{ audio.visual_1.url }}" style="width:200px;height:100px;"><br>
                        <audio controls>
                            <source src="{{ audio.search_4.url}}">
                        </audio>
    
                        <br>
                        <input type="radio" id="match found" name="aud_4match" value="match">
                        <label for="match found">Match Found</label><br>
                        <input type="radio" id="No Match" name="aud_4match"value="no match">
                        <label for="No Match">No Match</label><br>
                        <br>
                        <img src="{{ audio.visual_1.url }}" style="width:200px;height:100px;"><br>
                        <audio controls>
                            <source src="{{ audio.search_5.url}}">
                        </audio>
    
                        <br>
                        <input type="radio" id="match found" name="aud_5match" value="match">
                        <label for="match found">Match Found</label><br>
                        <input type="radio" id="No Match" name="aud_5match"value="no match">
                        <label for="No Match">No Match</label><br>
                        <br>
                        <audio controls>
                            <source src="{{ audio.search_6.url}}">
                        </audio>
    
                        <br>
                        <input type="radio" id="match found" name="aud_6match" value="match">
                        <label for="match found">Match Found</label><br>
                        <input type="radio" id="No Match" name="aud_6match"value="no match">
                        <label for="No Match">No Match</label><br>
                        <br>
                    </div>
                </div>
                <div id="submit">
                    <input type="submit">
                </div>
            </form>
        
        </div>
    
    </div>
</body>
</html>