{% load static %}
<link rel="stylesheet" href="{% static 'css.css' %}" type="text/css">
<body background="{% static 'mwall.jpg' %}">
    <br>
    <br>
    <div class="Heading">
        Welcome to Audio Analyser
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="all_elements">
        <div id="search_form">
            {{input}}
            <br>
            <div id="search_heading">
                
            Find results by keyword
            </div>
            <form action="search_keyword">
                <input type="text" name="searchbar" placeholder="Keyword to search">
                <input type="submit" value="Search">
            </form>

        </div>

    
        <div id="upload_form">
            <div class="form_heading">
                Please upload three audio samples
            </div>
            
            <form action="upload" method="POST" enctype="multipart/form-data">
                <br>{% csrf_token %}<br>
                <input type = "text" name = "keyword" placeholder="Enter the keyword"> <br><br>
                <input type="file" name="audio1">
                <br>
                <br>
                <input type="file" name="audio2">
                <br>
                <br>
                <input type="file" name="audio3">
                <br>
                <br>
                <div class="form_heading">
                    Upload the sample to be analysed
                </div>
                <br>
                <br>
                <input type="file" name="analyse">
                
                <br>
                <br>
                <input type="checkbox" id="default_audio" name="default_audio" value="Need_default_audio">
                <label for="default_audio"> I need to analyse my samples with the default audio </label>
                <input type="hidden" name="default_audio" value="default_audio_not_needed"> <br>
                <br>
                click <a href="results">here</a> to fetch default sample 
                <br>
                <br>
        
                <input type="submit">
            </form>
        </div>
    </div>

    
</body>